@charset "utf-8";
/*요소의 여백 초기화*/
html,body,h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
/*제목크기 초기화*/
h1,h2,h3,h4,h5,h6{
  font-size: 1em;
  font-weight: normal;
}
/*레이아웃*/
.wrapper{
  background-color: darkgray;
  height: 100vh;
}
.header, .visual, .main-contents, .slogan, .footer{
  width: 950px;
  margin: 0 auto;
}
.header{
  background-color: lightgrey;
  height: 10vh;
}
.visual{
  background-color: silver;
  height: 10vh;
}
.main-contents{
  background-color: lightgrey;
  height: 60vh;
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}
.group{
  background-color: ivory;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
  order: -1;
}
.slogan{
  background-color: silver;
  height: 10vh;
}
.footer{
  background-color: lightgrey;
  height: 10vh;
}