@charset "utf-8";
/*요소의 여백 초기화*/
html,body,h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
/*제목크기 초기화*/
h1,h2,h3,h4,h5,h6{
  font-size: 1em;
  font-weight: normal;
}
/*레이아웃*/
.wrapper{
  background-color: darkgray;
  height: 100vh;
}
.header, .visual, .main-content, .slogan, .footer{
  width: 950px;
  margin: 0 auto;
}
.header{
  background-color: aqua;
  height: 10vh;
}
.visual{
  background-color: silver;
  height: 10vh;
}
.main-content{
  background-color: lightgrey;
  height: 10vh;
}
.slogan{
  background-color: silver;
  height: 10vh;
}
.footer{
  background-color: lightgrey;
  height: 10vh;
}